.graphContainer {
  display: block;
  width: 96%;
  margin: 20px auto 30px auto;
  background: white;
  padding-top: 1px;
  box-shadow: 0px 0px 5px 1px #ddd;
  border-radius: 7px;
}

.title {
  font-family: "Baloo 2", cursive;
}

.graph {
  margin-top: -20px;
}
