.Container {
  width: 80%;
  margin: 0 auto;
}

.link {
  text-decoration: none !important;
}

.homepage {
  position: absolute;
  right: 0;
}

.allCountriesTab {
  width: 280px !important;
  height: 60px;
}

.countrySearchBox {
  display: inline-block;
  margin-left: 10px;
  width: 180px;
}

.countrySearchBox input {
  background: rgba(67, 106, 141, 0.3);
  box-shadow: none !important;
}

@media (max-width: 1190px) {
  .homepage {
    display: none;
  }
}
