.Card {
  box-sizing: border-box;
  margin: 10px 0;
  display: inline-block;
  padding: 0;
  font-family: "Baloo 2", cursive;
  border-left: 10px solid #3d6180;
  transition: all 0.3s ease-in;
}

.Card:hover {
  background: #3d6180;
  color: white;
}

.title {
  text-transform: capitalize;
}

.data {
  font-size: 25px;
}

.cases {
  border-left: 10px solid #4580e6;
}
.cases:hover {
  background: #4580e6;
}

.deaths {
  border-left: 10px solid #b83211;
}
.deaths:hover {
  background: #b83211;
}

.recovered {
  border-left: 10px solid #0f9960;
}
.recovered:hover {
  background: #0f9960;
}

.todayCases {
  border-left: 10px solid #ff6e4a;
}
.todayCases:hover {
  background: #ff6e4a;
}

.todayDeaths {
  border-left: 10px solid #738694;
}
.todayDeaths:hover {
  background: #738694;
}

.critical {
  border-left: 10px solid #a66321;
}
.critical:hover {
  background: #a66321;
}

.tests {
  border-left: 10px solid #008075;
}
.tests:hover {
  background: #008075;
}

.affectedCountries {
  border-left: 10px solid #f55656;
}
.affectedCountries:hover {
  background: #f55656;
}

.card-sm {
  width: 12vw;
  padding: 10px 0;
  margin: 5px 0 -10px 0;
}

.card-sm .title {
  margin: 5px 0;
}

.card-sm .data {
  margin: 0;
}

@media (min-width: 1000px) {
  .Card {
    width: 15vw;
  }
}

@media (min-width: 700px) and (max-width: 999px) {
  .Card {
    width: 30%;
  }
}

@media (min-width: 500px) and (max-width: 699px) {
  .Card {
    width: 45%;
  }
}

@media (max-width: 499px) {
  .Card {
    width: 90%;
  }
}
